body, html, page-content {
    height: 100%;
    width: 100%;
}
#googleMap {
    position:absolute;
    top: 0;
    width: 100%;
    height: calc(100vh - 64px);
    z-index: 0;
}
#leftDock {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
}
#rightDock {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
}
.dock {
    min-width: 420px;
}
.ld-show {
    left: 0;
}
.ld-show + #googleMap {
    left: 420px;
    width: calc(100% - 420px);
}
.ld-hide {
    left: -420px;
}
#googleMap.gm-rd-show {
    right: 420px;
    width: calc(100% - 420px);
}
#googleMap.gm-rd-hide {
    right: 0;
}
#googleMap.gm-ld-show.gm-rd-show {
    width: calc(100% - 840px);
}
.rd-show {
    right: 0;
}
.rd-hide {
    right: -420px;
}
#signin-form{
    text-align: center;
}
#signin-form button {
    width: 128px;
}
.mw-container-small {
    min-width: 360px;
    max-width: 480px;
    margin: auto ;
}
.mw-link-no-decor {
    text-decoration: none;
    color: white;
}
.content {
    position: relative;
    top: 48px;
}
.content-flex{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    min-width: 480px;
    max-width: 1024px;
}
.card {
    min-height: 256px;
    max-height: 300px;
    min-width: 330px;
    max-width: 480px;
    margin: 16px auto;
}
.card-doctor .mdl-card__title img{
    position: absolute;
    top: 14px;
    left: 101px;
    margin: 20px auto;
    height: 128px;
    border-radius: 50%;
}
.card-doctor .mdl-card__supporting-text {
    text-align: center;
    margin-top: 16px;
}
.card .mdl-card__title {
    height: 100px;
}
.mdl-card__title {
    color: white;
    background-color: rgb(233,30,99);
}

 @media screen and (max-width: 1024px) {
     #googleMap {
         height: calc(100vh - 56px);
     }
 }